<section class="section white-black section-short extra-top-header">
	<div class="background-media"></div>
	<div class="background-overlay"></div>
	<div class="container">
		<header class="section-header text-center">
			<h1 class="headline text-medium hairline">Roadmunk Blog</h1>
			<p>All The Latest News and Updates</p>
		</header>
	</div>
</section>
<article class="page type-page status-publish hentry">
	<section class="section black-white section-normal has-top">
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row med-margin-bottom">
				<div class="col-md-12 text-default">
					<div class="row">
						<ul class="list-unstyled">
							<% blogData.blogs.forEach(function (blog) { %>
								<li class="post-item col-md-4">
									<div class="grid-post white-black">
										<article id="<%= blog.id %>" class="post post-showinfo">
											<div class="post-media overlay">
												<%if (blog.image != "none") { %>
													<a href="<%= blog.content %>" class="feature-image">
														<img src="<%= blog.image %>">
													</a>
												<% } %>
											</div>
											<div class="post-head small-screen-center">
												<h2 class="post-title"><a href="<%= blog.content %>"><%= blog.title %></a></h2>
												<small class="post-author"><%= blog.author %></small>
												<small class="post-date"><%= blog.date %></small>
												<div class="post-icon">
													<div class="hex-alt-big-white">
														<span class="glyphicon glyphicon-<%= blog.icon %>"></span>
													</div>
												</div>
											</div>
											<div class="post-body">
												<p><%= blog.partial %></p>
												<a href="<%= blog.content %>" class="more-link">Read More</a>
											</div>
											<div class="post-extras bordered">
												<span class="post-category">
													<span class="glyphicon glyphicon-home"></span>
												</span>
												<span class="post-tags">
													<span class="glyphicon glyphicon-home"></span>
												</span>
												<span class="post-link">
													<span class="glyphicon glyphicon-home"></span>
												</span>
											</div>
										</article>
									</div>
								</li>
							<% }); %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>